
.wrap {
    width: 100%;
}

@media (max-width: 1300px) {
    .wrap {
        width: 1300px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color:#444;
    background-color: #f1f2f3;

}

h1, h2, h3, h4, h5, h6, p, div, header,ul,li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #444;
    outline: none;
}

ul{
    list-style: none;
}

input, button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

/*清除浮动*/
.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

/*分割线 divider*/
.horizontal-divider {
    height: 1px;
    margin: 9px;
    background-color: #e5e5e5;
}

.vertical-divider{
    display: inline-block;
    margin: 0 25px;
    width: 1px;
    height: 24px;
    background-color: #ebebeb;
    vertical-align: middle;
}








/*=========模态框==========*/
.mask{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.3;
    opacity:.30;
    filter: alpha(opacity=30);
}

.mask-inner{
    display: none;
    position: absolute;
    font-size:16px;
    top: 25%;
    left: 32%;
    width: 33%;
    height: auto;
    padding: 8px;
    border: 8px solid #E8E9F7;
    color:#FE739B;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.mask-inner .mask-title{
    padding: 15px;
    border-bottom: 1px solid #E8E9FD;
}

.mask-inner .album-div{
    padding: 15px;
    border-bottom: 1px solid #E8E9F7;
}

.mask-inner .btn-div{
    padding:15px;
}

.mask-inner .btn-div a{
    color:#FE739B;
}
.mask-inner .btn-div input{
    color:#FE739B;
    cursor:pointer;
}




