<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.ssm.dao.shiro.ShiroService">

    <select id="getAllRolesByUserId" parameterType="long" resultMap="RoleResultMap">
        SELECT r.role_id,r.role_name FROM role as r
        LEFT JOIN user_role as userrole ON r.role_id = userrole.role_id
        WHERE userrole.uid=#{uid}
    </select>

    <select id="getAllRolesByGroupId" parameterType="long" resultMap="RoleResultMap">
        SELECT role.role_id,role.role_name FROM role
        LEFT JOIN comm_group_role ON role.role_id = comm_group_role.role_id
        WHERE comm_group_role.group_id=#{groupId}
    </select>

    <select id="getAllPermissionsByRoleId" parameterType="long" resultMap="PermissionResultMap">
        SELECT permission.permission_id,permission.resource_type,permission.resource_id,permission.permission
        FROM permission
        LEFT JOIN role_permission ON permission.permission_id = role_permission.permission_id
        WHERE role_permission.role_id=#{roleId}
    </select>

    <select id="getAllUsersByRoleId" parameterType="long" resultMap="UserResultMap">
        SELECT * FROM user LEFT JOIN user_role ON user.uid = user_role.uid
        WHERE user_role.role_id=#{roleId}
    </select>





    <select id="getAllGroupsByUserId" parameterType="long" resultMap="CommGroupResultMap">
        SELECT comm_group.group_id,comm_group.group_name FROM comm_group
        LEFT JOIN comm_group_user ON comm_group.group_id = comm_group_user.group_id
        WHERE comm_group_user.uid = #{uid};
    </select>

    <select id="getAllGroupsByRoleId" parameterType="long" resultMap="CommGroupResultMap">
        SELECT comm_group.group_id,comm_group.group_name FROM comm_group
        LEFT JOIN comm_group_role ON comm_group.group_id = comm_group_role.group_id
        WHERE comm_group_role.role_id = #{roleId}
    </select>

    <select id="getAllUsersByGroupId" parameterType="long" resultMap="UserResultMap">
        SELECT user.uid,user.name,user.email,user.password,user.avatar,user.address
        FROM user
        LEFT JOIN comm_group_user ON user.uid = comm_group_user.uid
        WHERE comm_group_user.group_id = #{groupId}
    </select>






    <delete id="removeUserFromRoleById" parameterType="map">
        DELETE FROM user_role WHERE user_role.role_id=#{roleId} AND user_role.uid=#{uid}
    </delete>

    <delete id="removeUserFromGroupById" parameterType="map">
        DELETE FROM comm_group_user WHERE comm_group_user.group_id =#{groupId} AND comm_group_user.uid =#{uid}
    </delete>

    <delete id="removeRoleFromGroupById" parameterType="map">
        DELETE FROM comm_group_role WHERE  comm_group_role.role_id = #{roleId}
        AND comm_group_role.group_id=#{groupId}
    </delete>

    <delete id="removeRolePermissionById" parameterType="map">
        DELETE FROM role_permission WHERE role_permission.role_id =#{roleId}
        AND role_permission.permission_id=#{permissionId}
    </delete>

    <delete id="removePermissionFromRoleById" parameterType="map">
        DELETE FROM role_permission WHERE role_permission.permission_id =#{permissionId}
        AND role_permission.role_id =#{roleId}
    </delete>




    <delete id="removeAllRelationBetweenRolesAndGroupByGroupId" parameterType="long">
        DELETE FROM comm_group_role WHERE comm_group_role.group_id = #{groupId}
    </delete>

    <delete id="removeAllRelationBetweenUsersAndGroupByGroupId" parameterType="long">
        DELETE FROM comm_group_user WHERE comm_group_user.group_id = #{groupId}
    </delete>

    <delete id="removeAllRelationBetweenGroupsAndRoleByRoleId" parameterType="long">
        DELETE FROM comm_group_role WHERE comm_group_role.role_id = #{roleId}
    </delete>

    <delete id="removeAllRelationBetweenUsersAndRoleByRoleId" parameterType="long">
        DELETE FROM user_role WHERE user_role.role_id = #{roleId}
    </delete>

    <delete id="removeAllRelationBetweenPermissionsAndRoleByRoleId" parameterType="long">
        DELETE FROM role_permission WHERE role_permission.role_id = #{roleId}
    </delete>

    <delete id="removeAllRelationBetweenRolesAndPermissionByPermissionId" parameterType="long">
        DELETE FROM role_permission WHERE role_permission.permission_id =#{permissionId}
    </delete>

    <delete id="removeAllRelationBetweenRolesAndUserByUserId" parameterType="long">
        DELETE FROM user_role WHERE user_role.uid = #{uId}
    </delete>

    <delete id="removeAllRelationBetweenGroupsAndUserByUserId" parameterType="long">
        DELETE FROM comm_group_user WHERE comm_group_user.uid = #{uId}
    </delete>











    <resultMap id="PermissionResultMap" type="com.ssm.model.shiro.Permission">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <id column="permission_id" jdbcType="BIGINT" property="permissionId" />
        <result column="resource_id" jdbcType="BIGINT" property="resourceId" />
        <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
        <result column="permission" jdbcType="VARCHAR" property="permission" />
    </resultMap>






    <resultMap id="CommGroupResultMap" type="com.ssm.model.shiro.CommGroup">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <id column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
    </resultMap>

    <resultMap id="UserResultMap" type="com.ssm.model.User">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <id column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="signup_at" jdbcType="BIGINT" property="signupAt"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>


    <resultMap id="RoleResultMap" type="com.ssm.model.shiro.Role">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>


</mapper>